@charset "UTF-8";

body {
	background-color:gray;
}

.container {
	background-color: gray;
	max-width: 1920px;
}

.f-08 {
	font-size: 0.8rem;
}

.bg-card-head {
	background-color: rgba(0,0,0,0.4);
}

.bg-card-list {
	background-color: rgba(0,0,0,0.2);
}